*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root{
  --c-black: #282c34;
  --c-white: #f0f8ff;
  --c-glow: #00ffb7c0;
}

main{
  background-color: var(--c-black);
  color: var(--c-white);
  height: 100vh;
}

a{
  color: var(--c-white);
}

a:visited{
  color: var(--c-white);
}

input{
  border: none;
  outline: none;
  padding: 5px;
  background-color: transparent;
  border-bottom: 1px solid var(--c-white);
  color: var(--c-white);
  text-align: center;
  transition: 250ms ease-in-out;
}

input:focus{
  border-color: var(--c-glow);
}