*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root{
  --c-black: #282c34;
  --c-white: #f0f8ff;
  --c-glow: #00ffb7c0;
}
html, body{
  overflow: hidden;
  font-size: 20px;
}

p{
  font-size: 1rem;
}

a{
  font-size: .8rem;
}

h1, h2, h3, h4, h5, h6{
  font-size: 2rem;
}

main{
  background-color: var(--c-black);
  color: var(--c-white);
  height: 100vh;
}

section{
  height: calc(100% - 100px);
  padding: .5rem;
}


input{
  border: none;
  outline: none;
  padding: 5px;
  background-color: transparent;
  border-bottom: 1px solid var(--c-white);
  color: var(--c-white);
  text-align: center;
  transition: 250ms ease-in-out;
}

input:focus{
  border-color: var(--c-glow);
}

.CTA{
  border: 1px solid var(--c-glow);
  background-color: transparent;
  padding: 12px;
  color: var(--c-white);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 50%;
  margin: auto;
}

.arrows{
  font-size: 1.5rem !important;
  color: var(--c-glow);
}